<div class="m-auto p-2 text-center border" style="display: flex; flex-direction: column; justify-content: center;">
  <% if user_signed_in? %>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
        <%= f.text_field :content, placeholder: "検索ワード", class: "form-control me-2" %>
        <%= f.select :model, options_for_select({"ユーザー" => "user", "投稿" => "album", "ペット" => "pet", "タグ" => "tag"}), class: "form-select" %>
      </div>
      <%= f.select :method, options_for_select({"すべて一致" => "perfect","部分一致" => "partial"}, { prompt: "一致方法" }), class: "form-select mb-2" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>