<div class="container text-center py-3 ">
  <div class="row justify-content-center">
    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to mypage_path do %>
        <i class="fa-solid fa-house-chimney-user" style="font-size: 50px; color: #597445;"></i>
        <p>マイページ</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to new_album_path do %>
        <i class="fa-regular fa-image" style="font-size: 50px; color: #FFB200;"></i>
        <p>アルバム投稿</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to my_album_path do %>
        <i class="fa-solid fa-book" style="font-size: 50px; color: #5B99C2;"></i>
        <p>マイアルバム</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to new_pet_path do %>
        <i class="fa-solid fa-dragon" style="font-size: 50px; color: #FF8A8A;"></i>
        <p>ペット登録</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to my_pet_path do %>
        <i class="fa-solid fa-cat" style="font-size: 50px; color: #AD49E1;"></i>
        <p>マイペット</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to groups_path do %>
        <i class="fa-solid fa-people-group" style="font-size: 50px; color: #FF6969;"></i>
        <p>グループ</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to f_albums_path do %>
        <i class="fa-regular fa-thumbs-up" style="font-size: 50px; color: #E85C0D;"></i>
        <p>お気に入り<br>アルバム</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to f_pets_path do %>
        <i class="fa-solid fa-heart" style="font-size: 50px; color: #F05A7E;"></i>
        <p>お気に入り<br>ペット</p>
      <% end %>
    </div>

    <div class="sidebar-item col-12 mb-3 px-4 pt-2 border shadow-image">
      <%= link_to follow_list_path do %>
        <i class="fa-solid fa-people-arrows" style="font-size: 50px; color: #FF7EE2;"></i>
        <p>フォロー＆<br>フォロワー</p>
      <% end %>
    </div>
  </div>
</div>
