<div class="container">
  <div class="row">
    <div class="container col-3">
      <%= render "sidebar" %>
    </div>
    <div class="container col-9">
      <div class="row mb-4 ">
        <h2>フォロワーさん</h2>
      </div>
       <div class="row mb-4 border">
         <% @followers.each do |user| %>
         <div class="col">
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image, size: "50x50" %>
            <%= user.name %>
          <% end %>
          </div>
         <% end %>
      </div>
      

     <div class="row mb-4">
      <h2>フォローリスト</h2>
      </div>
       <div class="row mb-4 border">
         <% @followings.each do |user| %>
           <div class="col">
           <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image, size: "50x50" %>
            <%= user.name %>
          <% end %>
          </div>
         <% end %>
        
       </div>
    </div>
  </div>
</div>
