<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "sidebar" %>
    </div>
    <div class="col-9">
      <div class="row">
       <h2><%= current_user.name %>さんの投稿</h2>
      </div>
      <div class="row">
        <% @albums.each do |album| %>
        <div class ="col-3 mb-">
          <%= link_to album_path(album.id) do %>
          <div class="row">
            <%= image_tag album.get_album_image, size: '100x100' %>
          </div>
          <div class="row">
            <%= album.title %>
          </div>
          <div class="row">
            <%= album.created_at.strftime("%Y/%m/%d") %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>