<div class="container">
  <div class="row">
    <div class="container col-3">
      <%= render "sidebar" %>
    </div>
    <div class="container col-9">
      <div class="row m-2">
        <div class="col-9">
          <h2><%= current_user.name %>さんのマイページ</h2>
          <div class="row m-4">
            <% if current_user.image.attached? %>
              <%= image_tag current_user.image, size: "300x300" %>
            <% else %>
              <%= image_tag 'no_image', size: "50x50" %>
            <% end %>
          </div>
        </div>
        <div class="col">
        <table class='table'>
            <tbody>
              <tr><td><h4>SAVE活動</h4></td></tr>
              <tr><td><h5><%= current_user.hope_i18n %></h5></td></tr>
              <tr><td><%= current_user.gender_i18n %>-<%= @age %>歳</td></tr>
              <tr><td>フォロー数: <%= current_user.followings.count %></td></tr>
              <tr><td>フォロワー数: <%= current_user.followers.count %></td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row col-12 m-2">
        <h3 class="text-center">マイメニュー</h3>
      </div>
      <div class="row m-2">
        <div class="col m-2 border ">
          <%= link_to "アルバム投稿", new_album_path %>
          <p>ペットの写真を<br>投稿できます</p>
        </div>
        <div class="col m-2  border ">
          <%= link_to "マイぺット登録", new_pet_path %>
          <p>新しいペットを<br>登録できます</p>
        </div>
      </div>
      <div class="row m-2">
        <div class="col m-2 border ">
          <%= link_to "アルバム管理", my_album_path %>
          <p>投稿したアルバムを<br>管理できます</p>
        </div>
        <div class="col m-2  border ">
          <%= link_to "マイぺット管理", my_pet_path %>
          <p>登録したペットを<br>管理できます</p>
        </div>
        <div class="col m-2 border ">
          <%= link_to "参加グループ", groups_path %>
          <p>グループの<br>一覧です(工事中)</p>
        </div>
      </div>
      <div class="row m-2">
        <div class="col m-2 border">
          <%= link_to "お気に入り投稿", f_albums_path %>
          <p>お気に入り投稿の<br>一覧です</p>
        </div>
        <div class="col m-2 border">
          <%= link_to "お気に入りペット", f_pets_path %>
          <p>お気に入りペットの<br>一覧です</p>
        </div>
        <div class="col m-2 border">
          <%= link_to "フォロー＆フォロワー", follow_list_path %>
          <p>フォロー関係者の<br>一覧です</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5"></div>
  <div class="row mt-5">
     <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %>
  </div>
</div>