<div class="container">
  <div class="errors">
  <%= render "layouts/errors", obj: @chat %>
  </div>
  <div class="row mb-5">
    <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h2>
  </div>
<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <%= render "public/chats/chat", chat: chat %>
    <% else %>
      <div class="left-container d-flex">
        <%= image_tag @user.image, size: '30x30', style: 'border-radius: 10%' %>
        <p class=ml-1 style="text-align: left;"><span style="background-color: #F5F5DC; padding: 5px; border-radius: 10px;"><%= chat.message %></span></p>
      </div>
    <% end %>
  <% end %>
</div>



<%= form_with model: @chat, data: { turbo: false } ,local: false  do |f| %>
  <%= f.text_field :message %>
  <%= f.submit "送信", class: "btn btn-dark btn-sm" %>
  <%= f.hidden_field :room_id %>
<% end %>
</div>