<div class="container">
  <div class="row">
    投稿検索結果
  </div>
  <div class="row">
    <%  @records.each do |album| %>
    <div class ="col-2 mb-3">
      <%= link_to album_path(album.id) do %>
      <div class="row">
        <%= image_tag album.image, size: '100x100' %>
      </div>
      <div class="row">
        <%= album.title %>
      </div>
      <div class="row">
        <%= album.created_at.strftime("%Y/%m/%d") %>
      </div>
      <% end %>
    </div>
    <% end %>
 <%= paginate @records, theme: 'bootstrap-5' %> <!-- @recordsを使う -->
  </div>
</div> 