<div class="container-fluid">
  <div class="row my-3 justify-content-center">
    <div class="col-7 m-4">
      <span class="pr-3 pl-3" style="font-size: 1.3rem; background-color: #ECECEC; font-weight: bold;">編集</span>
    </div>
  </div>
  <div class="row my-3 justify-content-center">
    <div class="col-5">
      <%= form_with model: @album do |f| %>
        <table>
          <tr><th>以前の写真</th><td><%= image_tag @album.get_album_image, size: "300x300" ,style: "object-fit: contain;" %></td></tr>
          <tr>
            <th>投稿写真</th>
            <td class="pt-1 pb-1">
              <%= f.file_field :image, accept: "image/*", class: "form-control border-0", id: "album_image" %> <!-- border-0を追加 -->
             <img id="new_image_preview" src="" style="max-width: 300px; max-height: 300px; display: none;" />
            </td>
          </tr>
          <tr>
            <th>題名</th>
            <td class="p-1">
              <%= f.text_field :title, class: "form-control", style: 'color: #6c757d;', placeholder: '題名', onfocus: "this.style.color='black';" %>
            </td>
          </tr>
          <tr>
            <th class="pt-3" style="vertical-align: top;">紹介文</th>
            <td class="p-1">
              <%= f.text_area :body, class: "form-control", style: 'height: 150px;color: #6c757d;', placeholder: 'ここに説明文を記述します', onfocus: "this.style.color='black';" %>
            </td>
          </tr>
          <tr>
            <th>主役ペット</th>
            <td class="p-1">
              <%= f.select :pet_id, options_for_select(current_user.mypets.map { |pet| [pet.name, pet.id] }), prompt: false, class: "form-control" %>
            </td>
          </tr>
          <tr>
            <th><%= f.label"タグ (スペースで区切ると複数タグ登録できます)" %></th>
            <td><%= f.text_field :name, value: @tag_list,class:"form-control"%></td>
          </tr>
        </table>
        <div class="row col-12">
          <% @tag_lists.each do |tag| %>
           <div class="m-3 badge badge-pill badge-info">
             <%= tag.name %> 
           </div>
          <% end %>
        </div>
        <div class="row my-3 justify-content-center">
          <%= f.submit "更新", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
document.addEventListener("turbolinks:load", function() {
  const imageInput = document.getElementById("album_image");
  const newImagePreview = document.getElementById("new_image_preview");

  const previewContainer = document.getElementById('new-image-preview');
  if (previewContainer) {
    previewContainer.innerHTML = ''; // プレビュー領域をリセット
  }



  imageInput.addEventListener("change", function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        newImagePreview.src = e.target.result;
        newImagePreview.style.display = 'inline'; // 新しい画像を表示
      }
      reader.readAsDataURL(file);
    } else {
      newImagePreview.style.display = 'none'; // ファイルが選択されていない場合は非表示
    }
  });
});

</script>