<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "public/homes/sidebar" %>
    </div>
    <div class="col-9">
        <div class="row　col-12 mb-5 text-center">
    <h3>全ての投稿</h3>
  </div>
      <div class="row">
      <% @albums.each do |album| %>
      <div class ="card mb-3 ml-3 "  style="width: 14rem;">
        <%= link_to album_path(album.id) do %>
        <div class="card-img-top" style="background-color: #E5D9F2;">
          <%= image_tag album.get_album_image, size: '200x100', style: "object-fit: contain;" %>
        </div>
        <div class="card-body text-center" style="background-color: #CDC1FF; font-color: #A594F9;">
          <div class="card-title border" style="background-color: #F5EFFF;">
            <%= album.title %>
          </div>
          <div class="card-text border" style="background-color: #F5EFFF;">
            <%= album.created_at.strftime("%Y/%m/%d") %>
          </div>
        </div>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>