<div class="row mb-5">
  <div class="col-6">
    <h2>ログイン</h2>
    <% if admin_signed_in? %>
      <h3>管理者側でログインしています。</h3>
    <% else %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    <% end %>
    
  </div>
  <div class="col-6">
    <p class="mb-3">ログインすれば・・・！</p>
     <p class="mb-3">みんなのペット・投稿が閲覧できる！</p>
      <p class="mb-3">投稿にコメントできる！</p>
       <p class="mb-3">他のユーザーさんと交流できる！</p>
        <p class="mb-3">グループチャットで仲間を作れる！</p>
  </div>
</div>