<div class="container">
  <table class="table w-100">
    <thead>
      <tr>
        <th class="table-active" style="padding: 10px;">あ</th>
        <th class="table-active" style="padding: 10px;">い</th>
        <th class="table-active" style="padding: 10px;">う</th>
        <th class="table-active" style="padding: 10px;">え</th>
        <th class="table-active" style="padding: 10px;">お</th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td style="padding: 10px;"><%= pet.id %></td>
          <td style="padding: 10px;">
            <%= link_to pets_path(pet.id), style: 'color: black; text-decoration: underline;' do %>
              <%= pet.name %>
            <% end %>
          </td>
          <td style="padding: 10px;"><%= pet.age %>歳</td>
          <td style="padding: 10px;"><%= pet.gender %></td>
          <td style="padding: 10px;"><%= pet.category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>