<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col mb-5">
          <%= image_tag @pet.image, size: '700x700', style: "object-fit: contain;" %>
        </div>
        <div class="col">
          <table class="table">
            <tr>
              <th>お名前</th>
              <th><%= @pet.name %></th>
            </tr>
            <tr>
              <td>年齢</td>
              <td><%= @pet.age %></td>
            </tr>
            <tr>
              <td>種類</td>
              <td><%= @pet.category.name %></td>
            </tr>
            <tr>
              <td>投稿数</td>
              <td><%= @pet.album.count %></td>
            </tr>
            <tr>
              <td>主演アルバムの獲得いいね総数</td>
              <td><%= @favorites %>個</td>
            </tr>
          </table>
          <div class="row">
            <div class="col mb-5">
              <table class="table">
                <thead><tr><th>飼い主</th></tr></thead><br>
                <tbody><tr><td><%= link_to user_path(@pet.user) do %><%= @pet.user.name %><% end %></td></tr></tbody>
              </table>
               <div class="row mb-1">
                 <div class="col">
                  <h4 id="favorite_buttons_<%= @pet.id %>">
                    <%= render "public/pet_favorites/favorite_btn", pet: @pet %>
                  </h4>
                </div>
               </div>
            </div>
          </div>
          <% if @pet.user.id == current_user.id %>
            <div class="row m-5"><%= link_to "投稿する", new_album_path, class: "btn btn-info " %></div>
            <div class="row m-5"><%= link_to "編集する", edit_pet_path(@pet), class: "btn btn-primary" %></div>
            <div class="row mt-5">↓-↓-↓取返しが付かないので注意↓-↓-↓</div>
            <div class="row m-5"><%= link_to "削除する", @pet,method: :delete,data: { confirm: '本当にこの子を削除してしまうんですか？' }, class: "btn btn-danger" %></div>
           <% end %>
        </div>
      </div>
    </div>
  </div>
 <div class="row col-12 border">
   <h4>この子の写真一覧</h4>
   <% @prt_albums.each do |album| %>
   <div class="col-2">
     <%= link_to album_path(album) do %>
     <%= imag_tag album.get_album_image %>
     <% end %>
   </div>
   <% end %>
 </div>
</div>