<div class="container-fluid">
  <div class="row my-auto mb-1 border text-center justify-content-center" style="background-color: #C1CFA1; border-radius: 20px;">
    <div class="col-12 col-md-6 my-auto">
      <% if admin_signed_in? %>
        <%= "管理者" %><!-- 管理者ログイン時の処理 -->
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag "/petshare.png", class: "img-fluid", style: "object-fit: contain;" %>
        <% end %>
        <% if user_signed_in? %>
          <p class="mt-2">ようこそ<strong><%= current_user.name %></strong>さん</p>
        <% end %>
      
    </div>
    <div class="col-12 col-md-6 m-auto">
      <% if user_signed_in? %>
      <p>こちらから検索できます。 <%= render "public/searches/form" %></p>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="mb-3 row justify-content-center text-center">
    <div class="col-12 mt-4 mb-1">
      <div class="row bg-primary-subtle text-emphasis-primary justify-content-center" style="border-radius: 10px; background-color: 8fbc8f;">
        <% if admin_signed_in? %>
          <!-- 管理者メニュー -->
          <% [[admin_root_path,"管理者トップ"], [admin_users_path,"会員一覧"], [admin_albums_path,"アルバム一覧"], [admin_groups_path,"グループ一覧"], [admin_tags_path,"タグ一覧"] ].each do |menu| %>
            <div class="col-12 col-md-2 border border-4 text-center mb-2">
              <%= link_to menu[0] do %><%= menu[1] %> <% end %><!-- 各リンクのパスを適切に設定 -->
            </div>
          <% end %>
           <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
        <% else %>
          <!-- ユーザーメニュー -->
          <% [["トップ", "/icon_cat.png", entrance_path], ["アバウト", "/icon_inu.png", about_path], ["マイページ", "/icon_house.png", mypage_path], ["みんなの写真", "/dokusho.png", albums_path], ["みんなのペット", "/icon_juel.png", pets_path], ["グループ一覧", "/icon_group.png", groups_path], ["カテゴリー検索", "/icon_gorilla.png", categories_path], ["SAVE", "/icon_save2.png", save_path]].each do |menu| %>
            <div class="col-6 col-md-3 border border-4 text-center shadow-image p-3 mb-2" style="border-radius: 60px; background-color: #A2C579;">
              <%= link_to menu[2] do %>
                <%= image_tag menu[1], size: "50x50", class: "img-fluid" %>
                <p><%= menu[0] %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="col-12 p-3 mb-2">
          <% if admin_signed_in? %>
            <!-- 管理者ログイン時の処理 -->
          <% elsif user_signed_in? %>
            <div class="row justify-content-center border border-4 shadow-image p-3 mb-2" style="border-radius: 10px; background-color: #A2C579;">
              <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } do %>
                <p>ログアウト</p>
              <% end %>
            </div>
          <% else %>
            <% [["会員登録", new_user_registration_path], ["ログイン", new_user_session_path], ].each do |menu2| %>
              <div class="col-6 col-md-3 border border-4 text-center shadow-image p-3 m-auto" style="border-radius: 60px; background-color: #A2C579;">
                <%= link_to menu2[1] do %>
                  <p><%= menu2[0] %></p>
                <% end %>
              </div>
            <% end %>
            <div class="col-6 col-md-3 border border-4 text-center shadow-image p-3 m-auto" style="border-radius: 60px; background-color: #A2C579;"><%= link_to "ゲストログイン", user_guest_sign_in_path, method: :post %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- 会員登録、ログイン、ゲストログインの部分 -->


  <div class="row">
    <div class="col-12 text-center">
      <h4 id="notice">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>">
            <%= message %>
          </div>
        <% end %>
      </h4>
    </div>
  </div>
</div>
