<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-12 mt-4 mb-4">
      <div class="row bg-primary-subtle text-emphasis-primary justify-content-center">
        <div class="col border border-4">
         <%= link_to "トップ", entrance_path %>
        </div>
         <div class="col border border-4 text-center">
         <div class="row"><%= link_to "アバウト", about_path %></div>
        <div class="row"><%= link_to "ゲストログイン", user_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign-in", method: :post %></div>
        <div class="col border border-4 text-center">
         <% unless user.guest_user? %>
           <%= link_to "マイページ", mypage_path %>
         <% end %>
        </div>
        <div class="col border border-4">
         <%= link_to "写真を見る", albums_path %>
        </div>
        <div class="col border border-4">
         <%= link_to "グループ", groups_path %>
        </div>
        <div class="col border border-4">
         <%= link_to "カテゴリー検索", categories_path %>
        </div>
        <div class="col border border-4">
         <%= link_to "-SAVE-", save_path %>
        </div>
        <div class="col border border-4 text-center justify-content-center">
          <% if user_signed_in? %>
          <div class="row">
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
          <% else %>
          <div class="row text-center"><%= link_to '新規会員登録', new_user_registration_path %></div>
          <div class="row text-center"><%= link_to 'ログイン', new_user_session_path %></div>
          <%  end %>
        </div>
      </div>
    </div>
  </div>
</div>